.hidden {
   position: absolute !important;
   opacity: 0 !important;
   pointer-events: none !important;
   display: none !important;
}

div.pikchr {
    display: flex;
    justify-content: center;
}
