.hidden {
   position: absolute !important;
   opacity: 0 !important;
   pointer-events: none !important;
   display: none !important;
}

div.pikchr {
    display: flex;
    justify-content: center;
}

div.pikchr-svg {
    width: 100%;
    height: 100%;
}

div.pikchr-svg > svg {
    height: 100%;
    width: 100%;
}
